asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.4
django-group-by==0.3.1
django-mathfilters==1.0.0
django-resized==0.3.11
django-simple-autocomplete==1.11
html5lib==1.1
idna==2.9
Pillow==7.0.0
psycopg2==2.8.4
PyPDF2==1.26.0
pytz==2019.3
reportlab==3.5.46
requests==2.23.0
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
webencodings==0.5.1
xhtml2pdf==0.2.4
