{% extends 'farmers/loginsignupbase.html' %}
{% load static %}
{% block content %}
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 log-det">
                            <div class="small-logo">
                                <i class="fab fa-asymmetrik"></i> Farmer's Login
                            </div>
                            <h2>Sign in to Farmer's E Market</h2>
                            <div class="row">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-linkedin-in"></i></li>
                                </ul>
                            </div>
                            <div class="row">
                                <p class="small-info">or use your email account</p>
                            </div>


                            <div class="text-box-cont">
                                <form action="/farmers/login/" method="post">
                                     {% csrf_token %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
                                </div>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1">
                                </div>
                                <div class="row">
                                    <p class="forget-p"><a href="forgotpassword" class="nav-link">Forgot Password ?</a></p>
                                </div>
                                <div class="input-group center mb-3">
                                    <button class="btn btn-success btn-round" type="submit">Login</button>
                                </div>  
                                </form>  
                            </div>
                            


                        </div>
                        <div class="col-lg-4 col-md-5 box-de" style="background-image: url({% static 'public/images/bg_2.jpg' %});">
                            <div class="ditk-inf">
                                <h2 class="w-100">Didn't Have an Account </h2>
                                <p>Simply Create your account by clicking the Signup Button</p>
                                <a href="/farmers/signup/">
                                <button type="button" class="btn btn-outline-light">Signup</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

 {% endblock %}
