{% extends 'public/base.html' %}
{% load static %}
{% block content %}
   <div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">Your <strong>Order </strong>has been <strong>Confirmed. </strong>Check your Email for <strong>Order Summery.</strong></p>
  <hr>
  <p>
    Having trouble? <a href="contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="shop" role="button">Continue to Shopping</a>
  </p>
</div>

 {% endblock %}