{% extends 'public/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'public/images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs">Order</p>
            <h1 class="mb-0 bread">History</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						         <th>&nbsp;</th>
						        <th>Product name</th>
						        
						        <th>Pay Mode</th>
						        <th>Quantity</th>
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						      </tr>
						    </thead>
						    
						    <tbody>
						    
						    	{% if orderlist %}
						    	{% for item in orderlist %}
						      <tr id="myElement" class="text-center">
						        <td class="image-prod"><a href="/product?id={{ item.productid.id }}"><div class="img" style="background-image:url({{ item.productid.img.url}});"></div></a></td>
						        
						        <td class="product-name">
						        	<h3>{{ item.productid.pname }}</h3>
						        	<p>{{ item.productid.description }}</p>
						        </td>
						       
						        <td class="price">{{ item.paymode }}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="{{ item.quantity }}" min="1" max="100" readonly>
					          	</div>
					          </td>
						        
						         <td ><p><a href="/invoice?id={{ item.id }}" class=" btn btn-primary " data-id="{{ item.id }}">Invoice</a></p></td>
						        
						      </tr><!-- END TR-->
						     
						      {% endfor %} 
						      {% endif %}  
						    
						    </tbody>

						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>

 {% endblock %}