 {% extends 'public/base.html' %}
{% load static %}
{% block content %}
 <div class="hero-wrap hero-bread" style="background-image: url('{% static 'public/images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2">Freshly</span> <span>Plucked</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mb-5 text-center">
                    <ul class="product-category">
                        <li><a href="#" class="active">All</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Dried</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                 {% for pro in product %} 

                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="{{ pro.img.url}}" alt="Colorlib Template">
                            {% if pro.offer %}
                            <span class="status">{{ pro.offerprice }}on offer</span>
                            {% endif %}
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">{{ pro.pname }}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    {% if pro.offer %}<p class="price"><span class="mr-2 price-dc">${{ pro.price }}</span><span class="price-sale">${{ pro.offerprice }}</span> </p>{% else %}<p class="price"><span class="price-sale">${{ pro.price }}</span> </p>{% endif %}
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="/product?id={{ pro.id }}" class="product-details d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    {% if user.is_authenticated %}
                                    <a href="#" id="addcart" data-id="{{ pro.id }}" class="add-to-cart d-flex justify-content-center align-items-center mx-1">
                                        <span id="addcart"><i id="addcart{{ pro.id }}"class="ion-ios-cart"></i></span>
                                    </a>
                                    <a href="#" id="addwish" data-id="{{ pro.id }}" class="add-to-wish heart d-flex justify-content-center align-items-center ">
                                        <span id="addwish"><i id="addwish{{ pro.id }}" class="ion-ios-heart"></i></span>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}   
            </div>
            <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </section>
     <script src="{% static 'public/js/addcart.js' %}"></script>
  {% endblock %}