{% extends 'public/loginsignupbase.html' %}
{% load static %}
{% block content %}

                
                <div class="col-sm-10 login-box">
                    <div class="row">
                       <div class="col-lg-4 col-md-5 box-de" style="background-image: url({% static 'public/images/bg_2.jpg' %});">
                           <div class="small-logo">
                                <i class="fab fa-asymmetrik"></i> User's Sign up
                            </div>
                            <div class="ditk-inf sup-oi">
                                <h2 class="w-100">Already Have an Account </h2>
                                <p>Simply login to your account by clicking the login Button</p>
                                <a href="plogin">
                                    <button type="button" class="btn btn-outline-light">Login</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 log-det">
                            
                            <h2>Create Account</h2>
                            <p></p>
                            <div class="text-box-cont">
                                <form action="signup" method="post">
                                    {% csrf_token %}
                                    {% if status == True %}
                                <div class="logerror center">
                                    {{ msg }}
                                    <p></p>
                                </div>
                               
                                {% endif %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                        <i class="far fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First Name" name="first_name" aria-describedby="basic-addon1" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                        <i class="far fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" aria-describedby="basic-addon1" >
                                </div>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email Address" name="email" aria-describedby="basic-addon1" required>
                                </div>
                                 <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1" required>
                                </div>



                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="State / Country" name="state" value="{{ user.userprofile.state}}" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-home"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="House number/name and street name" name="house" value="{{ user.userprofile.house}}" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-map"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Town" name="town" value="{{ user.userprofile.town}}"required>

                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-pin"></i></span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Pincode" name="pincode" value="{{ user.userprofile.pincode}}" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                                    </div>
                                   <input type="number" class="form-control" placeholder="Phone" name="phone" value="{{ user.userprofile.phone}}" required >
                                </div>





                                <div class="input-group center mb-3">
                                    <button class="btn btn-success btn-round" type="submit">Signup</button>
                                </div>   
                                </form>  
                            </div>
                            


                        </div>
                       
                    </div>
                </div>
              {% endblock %}