{% extends 'public/base.html' %}
{% load static %}
{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'public/images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2">YOUR</span></p>
            <h1 class="mb-0 bread">Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>Product List</th>
						        <th>&nbsp;</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
						     {% if wishlist %}
						    	{% for item in wishlist %}
						    	{% for subt in subtotal %}
						    	{% if forloop.counter == forloop.parentloop.counter %}
						      <tr id="myElement" class="text-center">
						        <td class="product-remove"><a href="#" id="removewish" data-id="{{ item.productid.id }}" class="remove-from-wish"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><a href="/product?id={{ item.productid.id }}"><div class="img" style="background-image:url({{ item.productid.img.url}});"></div></a></td>
						        
						        <td class="product-name">
						        	<h3>{{ item.productid.pname }}</h3>
						        	<p>{{ item.productid.description }}</p>
						        </td>
						        
						        <td class="price">₹{% if item.productid.offer %}{{ item.productid.offerprice }}{% else %}{{ item.productid.price }}{% endif %}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="{{ item.quantity }}" min="1" max="100" readonly>
					          	</div>
					          </td>
						        
						        <td class="total">₹{{ subt }}</td>
						      </tr><!-- END TR-->
						      {% endif %}
						      {% endfor %} 
						      {% endfor %} 
						      {% else %} 
						      <tr id="myElement" class="text-center">
						        <td colspan="6">
						        	<h4>Your Wishlist is Empty..!</h4>
						        	<p class="lead">
   										<a class="btn btn-primary btn-sm" href="shop" role="button">Continue to Shopping</a></p>
						        </td>
						      </tr>
						      {% endif %}  
						    
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>

 {% endblock %}